<div class="container">
    <h2 class="title-lg mb">Мяу <%= @question.id %></h2>

    <p class="mb-sm"><%= @question.body %></p>
    <p>Для котеньки: <b><%= @question.user_id %></b></p>

    <div class="mt">
      <%= link_to fa_icon('pencil'), edit_question_path(@question), title: 'Изменить мурлык' %>
      <%= button_to fa_icon('trash-o'), question_path(@question), method: :delete, title: 'Удалить мурлык', form: { data: { turbo_confirm: 'Точно удалить мурлык?' } } %>

      <% unless @question.hidden? %>
        <%= button_to fa_icon('eye-slash'), hide_question_path, method: :put, title: 'Скрыть мурлык',form: { data: { turbo_confirm: 'Точно скрыть мурлык?' } } %>
      <% end %>
    </div>

    <p class="mt"><%= link_to "Все мурлыки", questions_path %></p>
</div>
