<!DOCTYPE html>
<html>
  <head>
    <title>Ask meow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar <%= "navbar-#{current_user.header_color}" if current_user.present? %>">
        <p class="title-sm text-bold"><%= link_to 'Ask me!', root_path %></p>
        <div>
          <% if current_user.present? %>
            <%= link_to display_user(current_user),
                edit_user_path(current_user), class: 'mt-sm' %>
            <%= button_to 'Выйти', session_path, method: :delete %>
            <%= button_to fa_icon('circle'), change_header_color_user_path(current_user),
              method: :put,
              class: header_color(current_user) %>
          <% else %>
            <%= link_to 'Регистрация', new_user_path, class: 'button button-yellow mr-sm' %>
            <%= link_to 'Вход', new_session_path, class: 'button button-yellow mr-sm' %>
          <% end %>
        </div>
      </div>
      <% if flash[:notice].present? %>
        <p class="mb mt message message-notice"><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
        <p class="mb mt message message-alert"><%= flash[:alert] %></p>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
